* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

h1, h2, h3, h4 {
  font-family: "Bebas Neue", cursive;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: "header header" "section1 section2" "section3 section3" "footer footer";
  gap: 1px;
}

header {
  grid-area: header;
  display: flex;
  padding: 0 50px;
  border-bottom: 1px solid black;
}
header .logo a img {
  height: 100px;
  width: auto;
}
header nav {
  text-align: center;
  background-color: white;
  width: 90%;
}
header nav .menu {
  list-style-type: none;
  background-color: white;
  padding: 0;
  margin: 20px auto;
  display: flex;
  justify-content: flex-end;
}
header nav .menu .item {
  display: inline-block;
  position: relative;
  font-size: 1.3rem;
}
header nav .menu .item a {
  font-weight: bolder;
  text-decoration: none;
  color: black;
  display: inline-block;
  padding: 20px;
  transition: all 300ms ease;
}
header nav .menu .item a:hover ul {
  color: grey;
  display: block;
  position: absolute;
}
header nav .menu .item .submenu {
  list-style-type: none;
  position: absolute;
  opacity: 0;
  display: flex;
  flex-direction: column;
  top: 80px;
  left: -5px;
  visibility: hidden;
  padding: 14px 0px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  transition: all 300ms ease;
}
header nav .menu .item .submenu .sub_i {
  display: block;
  padding: auto;
  font-size: 1rem;
}
header nav .menu .item:hover a {
  color: rgb(94, 90, 90);
  background: rgb(255, 255, 255);
  width: 90%;
  transform: scale(1.3);
}
header nav .menu .item:hover .submenu {
  visibility: visible;
  display: flex;
  color: grey;
  top: 50px;
  opacity: 1;
}

.flecha1 {
  width: 300px;
  position: fixed;
  bottom: 30px;
  right: -200px;
}
.flecha1 a img {
  width: 50px;
}

.section1 {
  background-color: rgb(255, 255, 255);
  grid-area: section1;
  border-bottom: 1px black solid;
}
.section1 div img {
  height: 550px;
  width: 100%;
}

.section2 {
  border-bottom: 1px black solid;
  background-image: url(../img/bocariver.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  grid-area: section2;
}
.section2 div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 550px;
  padding: 0 30px 0 30px;
}
.section2 div h1 {
  background-color: rgba(165, 165, 165, 0.479);
  color: white;
  font-size: 3rem;
}
.section2 div p {
  padding: 0 20px 0 20px;
  font-size: 1.1rem;
  background-color: rgba(165, 165, 165, 0.479);
  color: white;
  font-family: "Bebas Neue", cursive;
}
.section2 div button a {
  font-weight: bolder;
  text-decoration: none;
  color: white;
  font-size: 1rem;
  padding-bottom: 5px;
  transition: all 300ms ease;
}

.section3 {
  background-color: rgb(255, 255, 255);
  grid-area: section3;
  display: block;
  height: auto;
}
.section3 .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  height: 460px;
  margin: auto;
}
.section3 .container .card {
  width: 330px;
  height: 430px;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.2s;
}
.section3 .container .card img {
  width: 330px;
  height: 380px;
  align-items: center;
}
.section3 .container .card a {
  font-weight: bolder;
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
  padding-bottom: 5px;
  transition: all 300ms ease;
}
.section3 .container .card:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}
.section3 .contenido {
  display: flex;
  width: 100%;
  height: auto;
}
.section3 .contenido img {
  width: 600px;
  height: auto;
}
.section3 .contenido .comentario {
  display: inline-block;
  align-items: center;
}
.section3 .contenido .comentario p {
  padding: 100px 20px 0 20px;
  text-align: center;
  font-size: 1.6rem;
  font-family: "Bebas Neue", cursive;
}
.section3 .contenido .comentario .boton {
  padding-left: 290px;
}
.section3 .contenido .comentario .boton .learn-more {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  width: 12rem;
  height: auto;
}
.section3 .contenido .comentario .boton .learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #282936;
  border-radius: 1.625rem;
}
.section3 .contenido .comentario .boton .learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}
.section3 .contenido .comentario .boton .learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}
.section3 .contenido .comentario .boton .learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}
.section3 .contenido .comentario .boton .learn-more .button-text a {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}
.section3 .contenido .comentario .boton .learn-more:hover .circle {
  width: 100%;
}
.section3 .contenido .comentario .boton .learn-more:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}
.section3 .contenido .comentario .boton .learn-more:hover .button-text a {
  color: #fff;
}
.section3 .futbolinicio {
  display: flex;
  width: 100%;
  height: auto;
}
.section3 .futbolinicio .comentario1 {
  width: 800px;
  display: inline-block;
  align-items: center;
}
.section3 .futbolinicio .comentario1 p {
  padding: 100px 20px 0 20px;
  text-align: center;
  font-size: 1.6rem;
  font-family: "Bebas Neue", cursive;
}
.section3 .futbolinicio .comentario1 .boton {
  padding-left: 270px;
}
.section3 .futbolinicio .comentario1 .boton .learn-more {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  width: 12rem;
  height: auto;
}
.section3 .futbolinicio .comentario1 .boton .learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #282936;
  border-radius: 1.625rem;
}
.section3 .futbolinicio .comentario1 .boton .learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}
.section3 .futbolinicio .comentario1 .boton .learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}
.section3 .futbolinicio .comentario1 .boton .learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}
.section3 .futbolinicio .comentario1 .boton .learn-more .button-text a {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}
.section3 .futbolinicio .comentario1 .boton .learn-more:hover .circle {
  width: 100%;
}
.section3 .futbolinicio .comentario1 .boton .learn-more:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}
.section3 .futbolinicio .comentario1 .boton .learn-more:hover .button-text a {
  color: #fff;
}
.section3 .futbolinicio div img {
  width: 600px;
  height: auto;
}

.section11 {
  background-image: url(../img/zapatillamujerportada.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 450px;
}
.section11 h2 {
  color: white;
  padding-top: 100px;
  padding-left: 100px;
}

.section12 {
  background-image: url(../img/img.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 450px;
}
.section12 h2 {
  color: white;
  padding-top: 100px;
  padding-left: 100px;
}

.section13 {
  background-image: url(../img/ninosportada\ \(2\).png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 450px;
}
.section13 h2 {
  color: white;
  padding-top: 100px;
  padding-left: 100px;
}

.section7 {
  background-image: url(../img/mujer\ ropa.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 450px;
}
.section7 h2 {
  color: white;
  padding-top: 100px;
  padding-left: 100px;
}

.section8 {
  background-image: url(../img/ninosropa.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 450px;
}
.section8 h2 {
  color: white;
  padding-top: 100px;
  padding-left: 100px;
}

.section9 {
  background-image: url(../img/hobreropa.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 450px;
}
.section9 h2 {
  color: white;
  padding-top: 100px;
  padding-left: 100px;
}

.mujer {
  width: 100%;
  display: block;
}
.mujer .tarjeta {
  border-top: 2px black solid;
  width: 100%;
  height: 1200px;
}
.mujer .tarjeta .container-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  height: 430px;
  margin: auto;
}
.mujer .tarjeta .container-1 .card-1 {
  width: 230px;
  height: 330px;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.2s;
}
.mujer .tarjeta .container-1 .card-1 h3 {
  font-size: 1.5rem;
}
.mujer .tarjeta .container-1 .card-1 p {
  font-size: 1.2rem;
}
.mujer .tarjeta .container-1 .card-1 img {
  width: 230px;
  height: 250px;
  align-items: center;
}
.mujer .tarjeta .container-1 .card-1 a {
  font-weight: bolder;
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
  padding-bottom: 5px;
  transition: all 300ms ease;
}
.mujer .tarjeta .container-1 .card-1:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.formulario {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px rgb(5, 5, 5) solid;
  width: 100%;
  height: 500px;
}
.formulario .formulario1 {
  border: 1px red solid;
  width: 500px;
  height: 300px;
  padding: 20px;
  border-radius: 10px;
}/*# sourceMappingURL=estilo.css.map */