<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../Css/estilo.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
</head>
<body class="grid">
    <header>
        <div class="logo">
            <a href="../index.html">
                <img src="../img/sportswear (1).png" alt="Logo sitio">
            </a>
        </div>
        <nav>
            <ul class="menu">
                <li class="item"><a href="../views/mujer.html">Mujer</a>
                    <ul class="submenu">
                        <li class="sub_i"><a href="./views/RRHH.html">Calzado</a></li>
                        <li class="sub_i"><a href="./views/empresa.html">Ropa</a></li>
                        <li class="sub_i"><a href="./views/medioambiente.html">Accesorios</a></li>
                        <li class="sub_i"><a href="./views/empresa.html">Deportes</a></li>
                    </ul>
                </li>
                        
                <li class="item"><a href="../views/hombre.html">Hombre</a>
                    <ul class="submenu">
                        <li class="sub_i"><a href="./views/RRHH.html">Calzado</a></li>
                        <li class="sub_i"><a href="./views/empresa.html">Ropa</a></li>
                        <li class="sub_i"><a href="./views/medioambiente.html">Accesorios</a></li>
                        <li class="sub_i"><a href="./views/empresa.html">Deportes</a></li>
                    </ul>
                </li>
                <li class="item"><a href="../views/ninos.html">Niños</a>
                    <ul class="submenu">
                        <li class="sub_i"><a href="./views/RRHH.html">Calzado</a></li>
                        <li class="sub_i"><a href="./views/empresa.html">Ropa</a></li>
                        <li class="sub_i"><a href="./views/medioambiente.html">Accesorios</a></li>
                        <li class="sub_i"><a href="./views/empresa.html">Deportes</a></li>
                    </ul>
                </li>
                    
                <li class="item"><a href="../views/contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>
    
    <section class="section1">
        <div>
            <p>niños</p>
        </div>
            
    </section>
    
    <footer>
        <div>
            <h4>Copyrigt: Todos los derechos reservados</h4>
	    <p>seguinos en nuestras <b>redes</b></p>
	    <a href="https://www.instagram.com/ezequiel_andrada_12/?hl=es" target="_BLANK"><img src="../img/Instagram.png" width="50px" alt="instagram"></a>
	    <a href="https://www.facebook.com/Ezequiel.Boca.juniors.12/" target="_BLANK"><img src="../img/Facebook.png" width="50px" alt="Facebook"></a>
	    <a href="https://www.linkedin.com/in/ruben-andrada-00b696131/" target="_BLANK"><img src="../img/LinkedIn.png" width="50px" alt="LinkedIn"></a>
        </div>
    </footer>
    
</body>
</html>