<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="../Css/estilo.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="logo">
            <a href="../index.html">
                <img src="../img/sportswear (1).png" alt="Logo sitio">
            </a>
        </div>
        <nav>
            <ul class="menu">
                <li class="item"><a href="../views/mujer.html">Mujer</a>
                    <ul class="submenu">
                        <li class="sub_i"><a href="./calzadomujer.html">Calzado</a></li>
                        <li class="sub_i"><a href="./ropamujer.html">Ropa</a></li>
                        <li class="sub_i"><a href="./accesoriomujer.html">Accesorios</a></li>
                        
                    </ul>
                </li>
                        
                <li class="item"><a href="./hombre.html">Hombre</a>
                    <ul class="submenu">
                        <li class="sub_i"><a href="./calzadohombre.html">Calzado</a></li>
                        <li class="sub_i"><a href="./ropahombre.html">Ropa</a></li>
                        <li class="sub_i"><a href="./accesoriohombre.html">Accesorios</a></li>
                       
                    </ul>
                </li>
                <li class="item"><a href="../views/ninos.html">Niños</a>
                    <ul class="submenu">
                        <li class="sub_i"><a href="./calzadoninos.html">Calzado</a></li>
                        <li class="sub_i"><a href="./ropaninos.html">Ropa</a></li>
                        <li class="sub_i"><a href="./accesorioninos.html">Accesorios</a></li>
                       
                    </ul>
                </li>
                <li class="item"><a href="../views/deporte.html">Deporte</a></li>
                <li class="item"><a href="../views/contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <section class="section1">
        <h2>Ropa Hombre
        </h2>
        
            
    </section>
    <div class="mujer">
        <section class="calzados">
            <h2>Remeras</h2>
            <div class="container-1">
                <div class="card-1">
                    <img src="../img/remerahombre.png" alt="Remera Hombre">
                    <h3>CHOMBA POLO 3 TIRAS</h3>
                    <p>$ 13.999</p>
                </div>
                <div class="card-1">
                    <img src="../img/remerahombre1.png" alt="Remera Hombre">
                    <h3>REMERA DESIGNED 4</h3>
                    <p>$ 12.999</p>
                </div>
                <div class="card-1">
                    <img src="../img/remerahombre2.png" alt="Remera Hombre">
                    <h3>REMERA AEROREADY DESIGNED</h3>
                    <p>$ 8.499</p>
                </div>
                <div class="card-1">
                    <img src="../img/remerahombre3.png" alt="Remera Hombre">
                    <h3>M FI 3S TEE</h3>
                    <p>$ 10.999</p>
                </div>
                <div class="card-1">
                    <img src="../img/remerahombre4.png" alt="Remera Hombre">
                    <h3>REMERA FILA LOGOTYPE</h3>
                    <p>$5.290</p>
                </div>
                <div class="card-1">
                    <img src="../img/remerahombre5.png" alt="Remera Hombre">
                    <h3>REMERA HOMBRE FILA SMASH</h3>
                    <p>$5.890</p>
                </div>
                <div class="card-1">
                    <img src="../img/remerahombre6.png" alt="Remera Hombre">
                    <h3>REMERA HOMBRE FILA BACK</h3>
                    <p> $5.190</p>
                </div>
                <div class="card-1">
                    <img src="../img/remerahombre7.png" alt="Remera Hombre">
                    <h3>REMERA HOMBRE FILA OPTICAL</h3>
                    <p>$5.390</p>
                </div>
                <div class="card-1">
                    <img src="../img/remerahombre8.png" alt="Remera mujer">
                    <h3>Remera de training</h3>
                    <p>$8999</p>
                </div>
                <div class="card-1">
                    <img src="../img/remerahombre9.png" alt="Remera Hombre">
                    <h3>Remera PUMA x GARFIELD</h3>
                    <p>$9499</p>
                </div>
                <div class="card-1">
                    <img src="../img/remerahombre10.png" alt="Remera Hombre">
                    <h3>Remera Ess Heather </h3>
                    <p>$6999</p>
                </div>
                <div class="card-1">
                    <img src="../img/remerahombre11.png" alt="Remera Hombre">
                    <h3>Remera Printed de training</h3>
                    <p>$9499</p>
                </div>
                
            </div>
        </section>
        <section class="ropa">
            <h2>Buzos</h2>
            <div class="container-1">
                <div class="card-1">
                    <img src="../img/buzohombre.png" alt="Buzo Hombre">
                    <h3>BUZO DE BÁSQUET LEGENDS</h3>
                    <p>$ 17.999</p>
                </div>
                <div class="card-1">
                    <img src="../img/buzohombre1.png" alt="Buzo Hombre">
                    <h3>BUZO FUTURE ICONS BADGE</h3>
                    <p>$ 19.999</p>
                </div>
                <div class="card-1">
                    <img src="../img/buzohombre2.png" alt="Buzo Hombre">
                    <h3>BUZO DAME 8 INNOVATION</h3>
                    <p>$ 25.999</p>
                </div>
                <div class="card-1">
                    <img src="../img/buzohombre3.png" alt="Buzo Hombre">
                    <h3>BUZO GRAPHIC CAMO</h3>
                    <p>$ 24.999</p>
                </div>
                <div class="card-1">
                    <img src="../img/buzohombre4.png" alt="Buzo Hombre">
                    <h3>BUZO FILA HALF ZIP</h3>
                    <p>$15.390</p>
                </div>
                <div class="card-1">
                    <img src="../img/buzohombre5.png" alt="Buzo Hombre">
                    <h3>BUZO FILA OLD</h3>
                    <p>$11.450</p>
                </div>
                <div class="card-1">
                    <img src="../img/buzohombre6.png" alt="Buzo Hombre">
                    <h3>BUZO FILA BORIS</h3>
                    <p> $8.250</p>
                </div>
                <div class="card-1">
                    <img src="../img/buzohombre7.png" alt="Buzo Hombre">
                    <h3>BUZO FILA ANIMAL</h3>
                    <p>$11.450</p>
                </div>
                <div class="card-1">
                    <img src="../img/buzohombre8.png" alt="Buzo Hombre">
                    <h3>Buzo Classics Relaxed</h3>
                    <p>$21999</p>
                </div>
                <div class="card-1">
                    <img src="../img/buzohombre9.png" alt="Buzo Hombre">
                    <h3>Buzo Scuderia Ferrari Race</h3>
                    <p>$26399</p>
                </div>
                <div class="card-1">
                    <img src="../img/buzohombre10.png" alt="Buzo Hombre">
                    <h3>Buzo bloques de color </h3>
                    <p>$22999</p>
                </div>
                <div class="card-1">
                    <img src="../img/buzohombre11.png" alt="Buzo Hombre">
                    <h3>Buzo Downtown</h3>
                    <p>$23999</p>
                </div>
                
            </div>
        </section>
        <section class="ropa">
            <h2>Camperas
            </h2>
            <div class="container-1">
                <div class="card-1">
                    <img src="../img/camperahombre.png" alt="Campera Hombre">
                    <h3>CAMPERA COLORBLOCK</h3>
                    <p>$ 32.999</p>
                </div>
                <div class="card-1">
                    <img src="../img/camperahombre1.png" alt="Campera Hombre">
                    <h3>CAMPERA VENTILATOR TRVL</h3>
                    <p>$ 22.999</p>
                </div>
                <div class="card-1">
                    <img src="../img/camperahombre2.png" alt="Campera Hombre">
                    <h3>Campera ESSENTIALS </h3>
                    <p>$ 20.999</p>
                </div>
                <div class="card-1">
                    <img src="../img/camperahombre3.png" alt="Campera Hombre">
                    <h3>CAMPERA GAMEDAY</h3>
                    <p>$ 37.999</p>
                </div>
                <div class="card-1">
                    <img src="../img/camperahombre4.png" alt="Campera Hombre">
                    <h3>CAMPERA FILA BASIC TAPE</h3>
                    <p>$13.890</p>
                </div>
                <div class="card-1">
                    <img src="../img/camperahombre5.png" alt="Campera Hombre">
                    <h3>CCAMPERA FILA SMASH</h3>
                    <p>$12.350</p>
                </div>
                <div class="card-1">
                    <img src="../img/camperahombre6.png" alt="Campera Hombre">
                    <h3>CAMPERA HOMBRE FILA PADDED</h3>
                    <p> $18.950</p>
                </div>
                <div class="card-1">
                    <img src="../img/camperahombre7.png" alt="Campera Hombre">
                    <h3>CAMPERA HOMBRE FILA OVERHEAT</h3>
                    <p>$25.990</p>
                </div>
                <div class="card-1">
                    <img src="../img/camperahombre8.png" alt="Campera Hombre">
                    <h3>Campera Graphic</h3>
                    <p>$20999</p>
                </div>
                <div class="card-1">
                    <img src="../img/camperahombre9.png" alt="Campera Hombre">
                    <h3>Campera Iconic T7</h3>
                    <p>$22999</p>
                </div>
                <div class="card-1">
                    <img src="../img/camperahombre10.png" alt="Campera Hombre">
                    <h3>Campera Mercedes F1</h3>
                    <p>$29999</p>
                </div>
                <div class="card-1">
                    <img src="../img/camperahombre11.png" alt="Campera Hombre">
                    <h3>Campera de running Ultra</h3>
                    <p>$16499</p>
                </div>
                
            </div>
        </section>
        <section class="ropa">
            <h2>Pantalon
            </h2>
            <div class="container-1">
                <div class="card-1">
                    <img src="../img/pantalonhombre.png" alt="Pantalon Hobres">
                    <h3>PANTALÓN BECKENBAUER BLUE</h3>
                    <p>$ 43.999</p>
                </div>
                <div class="card-1">
                    <img src="../img/pantalonhombre1.png" alt="Pantalon Hobres">
                    <h3>PANTALÓN TRIFOLIO ADICOLOR</h3>
                    <p>$ 18.999</p>
                </div>
                <div class="card-1">
                    <img src="../img/pantalonhombre2.png" alt="Pantalon Hobres">
                    <h3>PANTALÓN CHINO R.Y.V.</h3>
                    <p>$ 26.999</p>
                </div>
                <div class="card-1">
                    <img src="../img/pantalonhombre3.png" alt="Pantalon Hobres">
                    <h3>PANTALÓN GAMEDAY PREMIUM</h3>
                    <p>$ 30.999</p>
                </div>
                <div class="card-1">
                    <img src="../img/pantalonhombre4.png" alt="Pantalon Hobres">
                    <h3>PANTALON HOMBRE FILA DNA</h3>
                    <p>$11.990</p>
                </div>
                <div class="card-1">
                    <img src="../img/pantalonhombre5.png" alt="Pantalon Hobres">
                    <h3>PANTALON HOMBRE FILA RIPIO</h3>
                    <p>$11.099</p>
                </div>
                <div class="card-1">
                    <img src="../img/pantalonhombre6.png" alt="Pantalon Hobres">
                    <h3>PANTALON FILA ANIMAL</h3>
                    <p>$11.099</p>
                </div>
                <div class="card-1">
                    <img src="../img/pantalonhombre7.png" alt="Pantalon Hobres">
                    <h3>PANTALON FILA MONOTONE</h3>
                    <p>$15.690</p>
                </div>
                <div class="card-1">
                    <img src="../img/pantalonhombre8.png" alt="Pantalon Hobres">
                    <h3>Pantalones T7 GO FOR</h3>
                    <p>$17599</p>
                </div>
                <div class="card-1">
                    <img src="../img/pantalonhombre9.png" alt="Pantalon Hobres">
                    <h3>Joggin BMW M Motorsport</h3>
                    <p>$18499</p>
                </div>
                <div class="card-1">
                    <img src="../img/pantalonhombre10.png" alt="Pantalon Hobres">
                    <h3>Pantalones T7 rectos</h3>
                    <p>$18999</p>
                </div>
                <div class="card-1">
                    <img src="../img/pantalonhombre11.png" alt="Pantalon Hobres">
                    <h3>Pantalones Ferrari Race</h3>
                    <p>$23199</p>
                </div>
                
            </div>
        </section>
    </div>
    
    <footer class="footermujer">
        <div>
            <h4>Copyrigt: Todos los derechos reservados</h4>
	    <p>seguinos en nuestras <b>redes</b></p>
	    <a href="https://www.instagram.com/ezequiel_andrada_12/?hl=es" target="_BLANK"><img src="../img/Instagram.png" width="50px" alt="instagram"></a>
	    <a href="https://www.facebook.com/Ezequiel.Boca.juniors.12/" target="_BLANK"><img src="../img/Facebook.png" width="50px" alt="Facebook"></a>
	    <a href="https://www.linkedin.com/in/ruben-andrada-00b696131/" target="_BLANK"><img src="../img/LinkedIn.png" width="50px" alt="LinkedIn"></a>
        </div>
    </footer>
    
</body>
</html>