<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="../Css/estilo.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="logo">
            <a href="../index.html">
                <img src="../img/sportswear (1).png" alt="Logo sitio">
            </a>
        </div>
        <nav>
            <ul class="menu">
                <li class="item"><a href="../views/mujer.html">Mujer</a>
                    <ul class="submenu">
                        <li class="sub_i"><a href="./calzadomujer.html">Calzado</a></li>
                        <li class="sub_i"><a href="./views/empresa.html">Ropa</a></li>
                        <li class="sub_i"><a href="./accesoriomujer.html">Accesorios</a></li>
                        
                    </ul>
                </li>
                        
                <li class="item"><a href="../views/hombre.html">Hombre</a>
                    <ul class="submenu">
                        <li class="sub_i"><a href="./calzadohombre.html">Calzado</a></li>
                        <li class="sub_i"><a href="./ropahombre.html">Ropa</a></li>
                        <li class="sub_i"><a href="./accesoriohombre.html">Accesorios</a></li>
                        
                    </ul>
                </li>
                <li class="item"><a href="../views/ninos.html">Niños</a>
                    <ul class="submenu">
                        <li class="sub_i"><a href="./calzadoninos.html">Calzado</a></li>
                        <li class="sub_i"><a href="./ropaninos.html">Ropa</a></li>
                        <li class="sub_i"><a href="./accesorioninos.html">Accesorios</a></li>
                        
                    </ul>
                </li>
                <li class="item"><a href="../views/deporte.html">Deporte</a></li>
                <li class="item"><a href="../views/contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <section class="section1">
        <h2>Ropa de mujer
        </h2>
        
            
    </section>
    <div class="mujer">
        <section class="calzados">
            <h2>Remeras</h2>
            <div class="container-1">
                <div class="card-1">
                    <img src="../img/remeramujer.jpeg" alt="Remera mujer">
                    <h3>Top deportivo 4Keeps </h3>
                    <p>$ 7.499</p>
                </div>
                <div class="card-1">
                    <img src="../img/remeramujer1.jpeg" alt="Remera mujer">
                    <h3>Remera 5K de running</h3>
                    <p>$ 6.999</p>
                </div>
                <div class="card-1">
                    <img src="../img/remeramujer2.png" alt="Remera mujer">
                    <h3>Remera Classics Interest</h3>
                    <p>$ 7.999</p>
                </div>
                <div class="card-1">
                    <img src="../img/remeramujer3.png" alt="Remera mujer">
                    <h3>Top de training EVERSCULPT</h3>
                    <p>$ 8.999</p>
                </div>
                <div class="card-1">
                    <img src="../img/remeramujer4.jpeg" alt="Remera mujer">
                    <h3>REMERA MUJER FILA AIME</h3>
                    <p>$4.650</p>
                </div>
                <div class="card-1">
                    <img src="../img/remeramujer5.jpeg" alt="Remera mujer">
                    <h3>REMERA MUJER FILA PIA</h3>
                    <p>$5.190</p>
                </div>
                <div class="card-1">
                    <img src="../img/remeramujer6.jpeg" alt="Remera mujer">
                    <h3>REMERA FILA CROP ANIMAL</h3>
                    <p> $5.290</p>
                </div>
                <div class="card-1">
                    <img src="../img/remeramujer7.jpeg" alt="Remera mujer">
                    <h3>REMERA MUJER FILA MAYA II</h3>
                    <p>$5.390</p>
                </div>
                <div class="card-1">
                    <img src="../img/remeramujer8.png" alt="Remera mujer">
                    <h3>REMERA FAST PRIMEBLUE</h3>
                    <p>$ 14.999</p>
                </div>
                <div class="card-1">
                    <img src="../img/remeramujer9.png" alt="Remera mujer">
                    <h3>REMERA RUN FAST</h3>
                    <p>$ 11.499</p>
                </div>
                <div class="card-1">
                    <img src="../img/remeramujer10.png" alt="Remera mujer">
                    <h3>MUSCULOSA ESSENTIALS </h3>
                    <p>$ 9.999</p>
                </div>
                <div class="card-1">
                    <img src="../img/remeramujer11.png" alt="Remera mujer">
                    <h3>MUSCULOSA SPORTSWEAR</h3>
                    <p>$ 9.999</p>
                </div>
                
            </div>
        </section>
        <section class="ropa">
            <h2>Buzos</h2>
            <div class="container-1">
                <div class="card-1">
                    <img src="../img/buzomujer.png" alt="zapatilla">
                    <h3>Buzo Classics con capucha</h3>
                    <p>$ 22.999</p>
                </div>
                <div class="card-1">
                    <img src="../img/buzomujer1.png" alt="zapatilla">
                    <h3>Buzo 5k de 1/2 cierre</h3>
                    <p>$ 15.999</p>
                </div>
                <div class="card-1">
                    <img src="../img/buzomujer2.png" alt="zapatilla">
                    <h3>Buzo con capucha </h3>
                    <p>$ 19.999</p>
                </div>
                <div class="card-1">
                    <img src="../img/buzomujer3.png" alt="zapatilla">
                    <h3>Buzo Classics Oversized</h3>
                    <p>$ 21.999</p>
                </div>
                <div class="card-1">
                    <img src="../img/buzomujer4.png" alt="zapatilla">
                    <h3>BUZO MUJER FILA OLD</h3>
                    <p>$ 11.099</p>
                </div>
                <div class="card-1">
                    <img src="../img/buzomujer5.png" alt="zapatilla">
                    <h3>BUZO MUJER FILA ANNIE</h3>
                    <p>$ 9.450</p>
                </div>
                <div class="card-1">
                    <img src="../img/buzomujer6.png" alt="zapatilla">
                    <h3>BUZO MUJER FILA MORA</h3>
                    <p> $ 6.190</p>
                </div>
                <div class="card-1">
                    <img src="../img/buzomujer7.png" alt="zapatilla">
                    <h3>ABRIGO LONG TAPE PLUS</h3>
                    <p>$ 11.990</p>
                </div>
                <div class="card-1">
                    <img src="../img/buzomujer8.png" alt="zapatilla">
                    <h3>BUZO ALLOVER PRINT</h3>
                    <p>$ 24.999</p>
                </div>
                <div class="card-1">
                    <img src="../img/buzomujer9.png" alt="zapatilla">
                    <h3>BUZO CON CAPUCHA</h3>
                    <p>$ 26.999</p>
                </div>
                <div class="card-1">
                    <img src="../img/buzomujer10.png" alt="zapatilla">
                    <h3>BUZO DISNEY BAMBI </h3>
                    <p>$ 24.999</p>
                </div>
                <div class="card-1">
                    <img src="../img/buzomujer11.png" alt="zapatilla">
                    <h3>BUZO CORTO CUELLO V</h3>
                    <p>$ 21.999</p>
                </div>
                
            </div>
        </section>
        <section class="ropa">
            <h2>Camperas
            </h2>
            <div class="container-1">
                <div class="card-1">
                    <img src="../img/camperamujer.png" alt="zapatilla">
                    <h3>Campera de running </h3>
                    <p>$ 19.999</p>
                </div>
                <div class="card-1">
                    <img src="../img/camperamujer1.png" alt="zapatilla">
                    <h3>Campera PUMA x FRIDA KAHLO</h3>
                    <p>$ 34.999</p>
                </div>
                <div class="card-1">
                    <img src="../img/camperamujer2.png" alt="zapatilla">
                    <h3>Campera Transeasonal </h3>
                    <p>$ 25.199</p>
                </div>
                <div class="card-1">
                    <img src="../img/camperamujer3.png" alt="zapatilla">
                    <h3>Campera Stardust Woven</h3>
                    <p>$ 20.999</p>
                </div>
                <div class="card-1">
                    <img src="../img/camperamujer4.png" alt="zapatilla">
                    <h3>CAMPERA MUJER FILA METALLIC</h3>
                    <p>$ 19.790</p>
                </div>
                <div class="card-1">
                    <img src="../img/camperamujer5.png" alt="zapatilla">
                    <h3>CAMPERA MUJER FILA RACHEL</h3>
                    <p>$ 24.290</p>
                </div>
                <div class="card-1">
                    <img src="../img/camperamujer6.png" alt="zapatilla">
                    <h3>CAMPERA MUJER FILA METALLIC</h3>
                    <p> $ 19.790</p>
                </div>
                <div class="card-1">
                    <img src="../img/camperamujer7.png" alt="zapatilla">
                    <h3>CAMPERA MUJER FILA HADA</h3>
                    <p>$ 15.990</p>
                </div>
                <div class="card-1">
                    <img src="../img/camperamujer8.png" alt="zapatilla">
                    <h3>ROMPEVIENTOS OWN THE RUN</h3>
                    <p>$ 22.999</p>
                </div>
                <div class="card-1">
                    <img src="../img/camperamujer9.png" alt="zapatilla">
                    <h3>ROMPEVIENTOS</h3>
                    <p>$ 32.999</p>
                </div>
                <div class="card-1">
                    <img src="../img/camperamujer10.png" alt="zapatilla">
                    <h3>ROMPEVIENTOS UNIVERSITARIO </h3>
                    <p>$ 28.999</p>
                </div>
                <div class="card-1">
                    <img src="../img/camperamujer11.png" alt="zapatilla">
                    <h3>ROMPEVIENTOS RUN ICONS</h3>
                    <p>$ 28.999</p>
                </div>
                
            </div>
        </section>
        <section class="ropa">
            <h2>Calzas
            </h2>
            <div class="container-1">
                <div class="card-1">
                    <img src="../img/calzamujer.png" alt="zapatilla">
                    <h3>CALZAS OPTIME SUPERHER</h3>
                    <p>$ 18.999</p>
                </div>
                <div class="card-1">
                    <img src="../img/calzamujer1.png" alt="zapatilla">
                    <h3>CALZAS LARGAS HOW WE DO</h3>
                    <p>$ 24.999</p>
                </div>
                <div class="card-1">
                    <img src="../img/calzamujer2.png" alt="zapatilla">
                    <h3>CALZAS FASTIMPACT 7/8</h3>
                    <p>$ 19.499</p>
                </div>
                <div class="card-1">
                    <img src="../img/calzamujer3.png" alt="zapatilla">
                    <h3>CALZAS ADIDAS X RICH MNISI</h3>
                    <p>$ 25.999</p>
                </div>
                <div class="card-1">
                    <img src="../img/calzamujer4.png" alt="zapatilla">
                    <h3>CALZAS MUJER FILA LILA</h3>
                    <p>$ 7.150</p>
                </div>
                <div class="card-1">
                    <img src="../img/calzamujer5.png" alt="zapatilla">
                    <h3>CALZAS MUJER FILA CHAIN</h3>
                    <p>$ 7.390</p>
                </div>
                <div class="card-1">
                    <img src="../img/calzamujer6.png" alt="zapatilla">
                    <h3>CALZAS MUJER FILA LORI</h3>
                    <p> $ 10.390</p>
                </div>
                <div class="card-1">
                    <img src="../img/calzamujer7.png" alt="zapatilla">
                    <h3>CAPRI MUJER FILA FLAT LIFE</h3>
                    <p>$ 7.590</p>
                </div>
                <div class="card-1">
                    <img src="../img/calzamujer8.png" alt="zapatilla">
                    <h3>Calzas Favourite Forever</h3>
                    <p>$ 8.999</p>
                </div>
                <div class="card-1">
                    <img src="../img/calzamujer9.png" alt="zapatilla">
                    <h3>Calzas Iconic T7</h3>
                    <p>$ 11.999</p>
                </div>
                <div class="card-1">
                    <img src="../img/calzamujer10.png" alt="zapatilla">
                    <h3>Calzas PUMA Internationa</h3>
                    <p>$ 7.999</p>
                </div>
                <div class="card-1">
                    <img src="../img/calzamujer11.png" alt="zapatilla">
                    <h3>Leggings EVERSCULPT</h3>
                    <p>$ 13.999</p>
                </div>
                
            </div>
        </section>
    </div>
    
    <footer class="footermujer">
        <div>
            <h4>Copyrigt: Todos los derechos reservados</h4>
	    <p>seguinos en nuestras <b>redes</b></p>
	    <a href="https://www.instagram.com/ezequiel_andrada_12/?hl=es" target="_BLANK"><img src="../img/Instagram.png" width="50px" alt="instagram"></a>
	    <a href="https://www.facebook.com/Ezequiel.Boca.juniors.12/" target="_BLANK"><img src="../img/Facebook.png" width="50px" alt="Facebook"></a>
	    <a href="https://www.linkedin.com/in/ruben-andrada-00b696131/" target="_BLANK"><img src="../img/LinkedIn.png" width="50px" alt="LinkedIn"></a>
        </div>
    </footer>
    
</body>
</html>